.team {
  margin: 5px 5px;
}

.team .card {
  position: relative;
  cursor: pointer;
  text-align: center
}

.team .card .side {
  width: 400px;
  height: 250px;
  transition: 0.5s;
}

.team .card .side.side1 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  position: relative;
  background-image:url('../assets/image/background-images/LandingPage/manta.png');
}

.team .card:hover .side.side1 {
  background: deepskyblue;
  transform: translateY(0);
}
.cardDescription{
  display: grid;
}
.team .card .side.side2 {
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-150px);
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.team .card:hover .side.side2 {
  transform: translateY(0);
}

.team .card .side.side2 .img_info .img_h2 {
  margin: 0;
}

.team .card .side.side2 .img_info .cardDescription {
  margin: 0;
  padding: 0;
}

.team .card .side.side1 .img_info {
  opacity: 0.9;
  transition: 0.5s;
  text-align: center;
}

.team .card:hover .side.side1 .img_info {
  opacity: 1;
}

.team .card .side.side1 .img_info .img_recipes {
  max-width: 250px;
  max-height: 250px;
}

.team .card .side.side1 .img_info .img_title {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0 0;
  padding: 0;
  color: #fff;

}

.team .card .side.side2 .img_info .cardRead {
  padding: 5px 15px;
  border-radius: 50px;
  background: deepskyblue;
  color: #fff;
  margin: 20px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;

}

.team .card .side.side2 .img_info .cardRead:hover {
  background: deepskyblue;
  color: #fff;
}