.LandingPage {
  background-image: url(../assets/image/background-images/LandingPage/wooden.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(245, 163, 12, 0.397);
}

.home {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(203, 96, 20, 0.03);
  border: none;
  margin: 25vw;
  color: #11d3c9;
  font-weight: 800;
  cursor: pointer;
  font-size: 6vw;
  font-family: 'Snell Roundhand', 'Zapfino', 'SignPainter', Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}

/* Pantallas de menos de 992px de ancho */
@media screen and (max-width: 992px) {
  .LandingPage {
    background-color: black;
  }
}

/* Pantallas de menos de 576px de ancho */
@media screen and (max-width: 576px) {
  .LandingPage {
    background-image: url(../assets/image/background-images/LandingPage/wooden-cutting.png);
    background-color: black;
  }

  .button {
    font-size: 11vw;
    margin: 67vw;
    padding: 20 px;
  }
}

.button:hover {
  transform: scale(1.5);
}