body {
  background-image: url(../assets/image/wooden.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
}

/* Pantallas de menos de 1180px de ancho */
@media screen and (max-width: 1180px) {
  body {
    background-color: black;
  }
}

/* Pantallas de menos de 500px de ancho */
@media screen and (max-width: 500px) {
  body {
    background-image: url(../assets/image/wooden-cutting.png);
    background-color: black;
  }
}

.home {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(210, 105, 30, 0.03);
  border:none;
  margin-top: 32vw;
  color: #11d3c9;
  font-weight: 800;
  cursor: pointer;
  font-size: 6vw;
  font-family: 'Snell Roundhand', 'Zapfino', 'SignPainter', Arial, Helvetica, sans-serif;
  /* text-transform: uppercase; */
  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.5);
}